<!DOCTYPE html>
<html lang="en" ng-app="TodoApp">
  <head>
    <title>TODO</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
  </head>

  <body>

    <main ng-controller="TodoAppController">
      <form class="todoForm" ng-submit="addTask()">
          <input id="todoNotepad" type="text" name="todoTask">
          <button type="submit" value="add"></button>
      </form>
      <!-- for each task into the task array, do list element -->
      <ul id="list of tasks">
        <li ng-repeat="task in todoList">
        {{task.text}}
        <input id="done" type="checkbox" ng-toggle="toggleDone">
        </li>
      </ul>

    </main>

  <script src="app.js"></script>
  <script src="controllers/angularController.js"></script>
  </body>
</html>